<html>
  <head>
    <title>Test Page EJS</title>
  </head>
  <body>
    <h4 id="random"></h4>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
      $(function () {
          $.post('/graphql', { query: 'query { message }' }, function (graphqlObject) {
              $('#random').text(graphqlObject.data.message);
          });
      });
    </script>
  </body>
</html>
